.search-input {
    /* border: 1px solid black; */
    /* border-radius: 35px; */
    /* padding: 3px; */
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    color: black !important;
    background-color: #fff !important;
}

.css-1t6c9ts {
    justify-content: space-evenly;
}