.fifth-section-home-container {
    text-align: center;
    margin: 20px 0px;
    padding: 20px 0px;
}

.container-content-g {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.join-btn {
    background-color: green !important;
    color: white !important;
    width: 350px !important;
    text-transform: none !important;
    margin: 10px !important;
    border-radius: 10px !important;
}